.resume-container {
    width: 850px;
    padding: 75px;
    background-color: white;
    height: 1100px;
}
.head {
    text-align: center;
    border-right: 1px black solid;
    font-size: 2rem;
    font-weight: bold;
    width: 100%;
}
.font-sm {
    font-size: 0.8rem;
    font-weight: 700;
}
.resume-personal-data {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.flex-info-col {
    margin-left: 5px;
    width: min-content;
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
}
.section-title {
    margin-top: 3px;
    font-weight: 800;
    border-bottom: 1px solid black;
    font-size: 1.12rem;
}
.bold {
    font-weight: 600;
}
.light {
    font-weight: 400;
}
.ini-name {
    display: flex;
    justify-content: space-between;
}
.detail {
    margin-left: 35px;
}
.resume-instance {
    display: flex;
    flex-direction: column;
}
.squeeze {
    line-height: 0.8;
}
.squeeze-low {
    line-height: 1;
}
.skills {
    margin-top: 1px;
}
.resume-btn {
    margin: 10px 5px;
    width: max-content;
}
