.flex-container {
    display: flex;
    flex-direction: row;
    margin: 0px auto;
    justify-content: center;
    flex-wrap: wrap;
}
.group-title {
    font-size: 1.1rem;
}
.flex-col-left {
    width: 600px;
    min-width: 300px;
    margin: 12px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding: 10px;
}
.btn {
    border: none;
    color: white;
    background-color: black;
    font-weight: bold;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 0px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}
.add:hover {
    background-color: #28a745;
}
.del:hover {
    background-color: #dd3b4a;
}
.warn:hover {
    background-color: #ffc107;
}
.flex-col-right {
    margin: 12px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    height: min-content;
}
.container {
    margin: 5px 0px;
}
